body {
    background-image: url('math.jpeg'); /*https://www.skape.ed.ac.uk/events/what-gets-measured-gets-done-the-role-of-metrics-in-building-the-eu-anti-poverty-policy/*/
}

.outside-container, .output, .number {
    background-color: dimgray;
    color: #FFF;
    transition: all .07s ease;
}

button {
    transition: all .07s ease;
}

button:hover, .outside-container:hover, .output:hover, .number:hover {
    background-color: rgb(0, 0, 0);
}

